# Used by ./scripts/test-actions to test GitHub Actions locally.
GITHUB_PAT=

# OpenAI API key to generate documentation.
OPENAI_API_KEY=

# OpenAI model to use.
JOTBOT_MODEL=gpt-4

# Comma-seperated glob patterns to include files in generation.
JOTBOT_INCLUDE=

# Include TestXXX() functions in generation (Go-specific).
JOTBOT_INCLUDE_TESTS=

# Comma-seperated glob patterns to exclude files generation.
JOTBOT_EXCLUDE=

# Exclude Go files in "internal" directories.
JOTBOT_EXCLUDE_INTERNAL=true

# Regular expression to match found identifiers.
# For example, to match all variables and functions, use:
# JOTBOT_MATCH="^(var:|func:)"
JOTBOT_MATCH=

# Force-clear comments in generation prompt (Go-specific)
JOTBOT_CLEAR=false

# Override existing documentation.
JOTBOT_OVERRIDE=false

# Maximum number of files to generate documentation for.
JOTBOT_LIMIT=0

# Number of files to generate documentation for in parallel.
# The default is the math.Min(4, runtime.NumCPU())
JOTBOT_PARALLEL=4

# Number of documentations to generate in parallel for each file.
# The default is the math.Min(2, runtime.NumCPU())
JOTBOT_WORKERS=2

# Enable verbose logging.
JOTBOT_VERBOSE=1

# Print generated documentation to stdout.
JOTBOT_DRY_RUN=false

# Git branch to create commit on. Leave empty to disable commit.
JOTBOT_BRANCH=
